<p><div id="{{ field_id }}_epiceditor">{{ value }}</div><textarea{{ final_attrs|safe }} {% if maxlength %}maxlength={{maxlength}} {% endif %}>{{ value }}</textarea></p>


<script type="text/javascript">
    //Hiding the textarea
    var {{ editor_id }}_textarea = document.getElementById("{{ field_id }}");
    {{ editor_id }}_textarea.style.display = 'none';

    var {{ editor_id }}_opts = {{ config|safe }};
    {{ editor_id }}_opts["parser"] = {{ parser }};
    {{ editor_id }}_opts["basePath"] = "{{ request.build_absolute_uri }}"+{{ editor_id }}_opts["basePath"];
    var {{ editor_id }}_editor = new EpicEditor({{ editor_id }}_opts);
    {{ editor_id }}_editor.load()
</script>
